.items-near-you {
  margin-top: 2rem;
  background-color: #eee9dad8;
  margin-top: 2rem;
  padding: 20px 0 20px 0;
}

.items-near-you-title a {
  /* margin-left: 2rem; */
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: antiquewhite;
  color: #393053;
  font-size: 22px;
  font-weight: 500;
}

.items-near-you-title {
  /* margin-left: 20px; */
  color: #393053;
  font-size: 22px;
  /* font-weight: 900; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.near-you-image {
  display: none;
}

.items-near-you-text {
  text-align: center;
  margin: 2rem 2rem;
  color: #393053;
  font-size: 22px;
  font-weight: 900;
}

.item-wrapper-small {
  margin: 1rem 1rem;
}

.filter-by-distance {
  margin: 0px 0;
  /* text-align: center; */
}

.filter-by-distance-input {
  border: 1px solid #c92c6d;
  background-color: transparent;
  padding: 5px;
  margin-left: 15px;
  font-size: 16px;
}

@media (min-width: 992px) {
  .near-you-image {
    height: 300px;
    width: 300px;
    display: block;
  }

  .item-wrapper-small {
    display: grid;
    gap: 50px;
    margin: 30px auto;
    color: #443c68;
    text-transform: capitalize;
  }

  .item-container-small {
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  .small-near {
    width: 450px;
  }
}
