.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f0eeed;
  padding: 15px 0 15px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar-title {
  margin: 0 15px;
  font-size: 24px;
  color: #c92c6d;
}

.navbar-logo-container {
  width: 50px;
  height: 50px;
}

.navbar-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.navbar-logo:hover {
  width: 45px;
  height: 45px;
}

@media (max-width: 992px) {
  .category-list-navbar {
    display: none;
  }
}

@media (min-width: 992px) {
  .category-list-navbar {
    display: flex;
  }
  .category-list-item-navbar {
    font-weight: 500;
    /* letter-spacing: 2px; */
    color: #000000;
    margin-right: 20px;
  }
  /* 
  .category-list-item-navbar:hover {
    background-color: #c92c6d82;
    border-radius: 8px;
    padding: 2px 5px;
  } */

  .active-link-navbar div {
    background-color: #c92c6d82;
    border-radius: 8px;
    padding: 2px 10px;
  }

  .navbar-logo-container {
    display: none;
  }
}
