.about-container {
  width: 90vw;
  margin: auto;
  color: #443c68;
  margin-bottom: 20vh;
}

.about-container-wrap {
  display: grid;
  gap: 50px;
}

.about-container h1 {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 2px;
}

.about-container img {
  width: 100%;
  object-fit: cover;
}

.about-container p {
  line-height: 1.8;
  font-size: 20px;
}

.about-page-wrapper {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .about-container {
    display: flex;
    align-items: center;
    min-height: 59vh;
  }
  .about-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-container-wrap {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin-top: 30px;
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 52%,
      rgba(148, 187, 233, 1) 100%
    );
    border-radius: 8px;
  }

  .about-container img {
    height: 400px;
    object-fit: contain;
  }
}
