.item-title {
  margin: 50px auto;
  width: 90vw;
  color: #443c68;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-big-wrapper {
  min-height: 100vh;
}

.item-title h1 {
  font-size: 24px;
}

.item-title p {
  font-size: 16px;
}

.item-wrapper {
  display: grid;
  gap: 50px;
  width: 90vw;
  margin: 50px auto;
  color: #443c68;
  text-transform: capitalize;
}

.item-box {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 0 5 10px 5px;
  /* max-width: 360px; */
  max-height: 410px;
  overflow-y: scroll;
}

.item-box::-webkit-scrollbar {
  width: 5px;
}
.item-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* border-radius: 5px; */
}
.item-box::-webkit-scrollbar-thumb {
  /* border-radius: 5px; */
  /* -webkit-box-shadow: inset 0 0 6px #9c194f; */
  background-color: #c92c6dd1;
}

.item-box-image {
  /* display: flex; */
  align-self: center;
  background-color: #39305341;
  border: 1px solid #c92c6d;
  width: 100%;
  height: 225px;
  padding-bottom: 10px;
}

.item-box-image img {
  border-radius: 0.25rem;
  height: 225px;
  /* object-fit: cover; */
  transition: all 0.3s linear;
  width: 100%;
  object-fit: cover;
}

.item-box-description {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-bottom: 10px;
  background-color: white;
  word-break: normal;
  padding: 0px 10px;
  /* margin-top: 10px; */
}

.item-box-description h3 {
  color: #443c68;
  margin-top: 10px;
}

.item-box-description h4,
.item-box-description p {
  color: #443c68;
  /* opacity: 0.7; */
  margin-bottom: 5px;
  margin-top: 10px;
}

.vital-properties-box {
  display: flex;
  flex-direction: column;
}

.small {
  max-width: 360px;
}

@media (min-width: 992px) {
  .item-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(360px, 2fr));
  }

  .small {
    max-width: 360px;
  }
}
