.upload-form-container {
  /* display: flex;
  flex-direction: column; */
  margin: 4rem auto;
  width: 90vw;
}

.upload-form-container h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #443c68;
}

.upload-form {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
  width: 90vw;
  margin-top: 50px;
}

.form-first-part {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-bottom: 50px;
  align-items: center;
}

.lost-item {
  display: grid;
  width: 100%;
  gap: 20px;
  position: relative;
}

.lost-item-small-input {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
}

label {
  color: #393053;
  font-weight: 700;
  letter-spacing: 1px;
}

.lost-item-small-input input {
  /* width: 200px; */
  height: 30px;
  margin-top: 10px;
  border: none;
  background-color: #f0eeed96;
}

.lost-item-image input {
  display: none;
}

.form-image {
  background-color: beige;
  height: 180px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 50px;
}

.form-image img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.lost-item-image button {
  border: 1px solid #20262e;
  background-color: transparent;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.1s linear;
  color: #393053;
  font-weight: 500;
  letter-spacing: 1px;
  /* border: none; */
}

.lost-item-image button:hover {
  background-color: #393053;
  color: white;
}

.lost-item-image button:focus {
  background-color: #20262e;
  color: white;
}

.form-second-part {
  display: grid;
}

.lost-item-location {
  display: flex;
  flex-direction: column;
}

.lost-item-location input {
  height: 30px;
  margin-top: 10px;
  border: none;
  background-color: #f0eeed96;
}

.lost-item-dscription {
  margin-top: 30px;
}

.lost-item-dscription h3 {
  color: #393053;
  /* color: #443c68; */
  font-weight: 900;
  letter-spacing: 1px;
}

.description-vital-properties {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  margin-bottom: 30px;
}

.decription-input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.decription-input input {
  margin-top: 10px;
  border: none;
  background-color: #f0eeed96;
  height: 30px;
}

.description-text {
  margin-bottom: 20px;
}

.description-text textarea {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #20262e;
  background-color: transparent;
}

.submit-form {
  background-color: #393053a2;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 8px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s linear;
  border: none;
}

.submit-form:hover {
  background-color: #c92c6d;
}

@media (min-width: 992px) {
  .upload-form-container h3 {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .form-first-part {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: repeat(2, 1fr); */
    /* gap: 50px; */
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
  }

  .lost-item {
    height: 40vh;
    width: 40vw;
  }

  label {
    color: #393053;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 26px;
  }

  .lost-item-small-input input {
    /* width: 200px; */
    height: 70px;
    margin-top: 10px;
    border: none;
    background-color: #f0eeed96;
    font-size: 22px;
  }

  .form-image {
    height: 30vw;
    width: 50vh;
    margin-top: 0;
    margin-left: 20px;
  }

  .form-image img {
    height: 250px;
    width: 250px;
  }

  .lost-item-image button {
    padding: 20px 40px;
    width: 20vw;
    font-weight: 500;
    font-size: 20px;
  }

  .lost-item-location input {
    height: 70px;
    font-size: 22px;
  }

  .description-vital-properties {
    gap: 50px;
  }

  .description-vital-properties input {
    height: 70px;
  }

  .description-text {
    margin-bottom: 50px;
  }

  .form-third-part {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }

  .description-text textarea {
    margin-top: 45px;
    height: 200px;
    font-size: 22px;
  }

  .submit-form {
    padding: 15px 35px;
    font-size: 20px;
  }
}

.lost-item-image {
  display: flex;
  flex-direction: row;
}

/* Errors */
.error-icon-div-date {
  display: flex;
  position: absolute;
  left: 110px;
  top: 83px;
  color: #eb455f;
}

.error-icon-div-title {
  display: flex;
  position: absolute;
  left: 55px;
  color: #eb455f;
}

.error-icon-title {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  /* position: absolute; */
}

.error-icon-date {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  /* position: absolute; */
}

.error-icon-div-image {
  display: flex;
  position: absolute;
  color: #eb455f;
  left: 120px;
}

.error-icon-div-image svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.error-icon-div-description {
  display: flex;
  position: absolute;
  color: #eb455f;
  left: 260px;
}
