.about-container {
  /* height: 100vh; */
  width: 90vw;
  margin: auto;
  color: #443c68;
  margin-bottom: 20vh;
}

.about-container-wrap {
  display: grid;
  gap: 50px;
}

.about-container h1 {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 2px;
  /* margin-bottom: 20px; */
}

.about-container img {
  width: 100%;
  /* height: 400px; */
  object-fit: cover;
}

.about-container p {
  line-height: 1.8;
  font-size: 20px;
}

@media (min-width: 992px) {
  .about-container {
    /* margin-top: 90px; */
    /* height: 55vh; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 59vh;
  }
  .about-wrap {
    /* min-height: 50%; */
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-container-wrap {
    /* height: 100vh; */
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    /* max-height: 10
    0vh; */
  }

  .about-container img {
    /* width: 100%; */
    /* margin-top: 60px; */
    height: 400px;
    object-fit: contain;
  }
}
