.item {
  display: flex;
  flex-direction: column;
  margin: auto 20px;
  width: 90vw;
  margin-top: 40px;
  color: #443c68;
  letter-spacing: 1px;
  min-height: 90vh;
}

.item-page-title {
  color: #443c68;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.item-page-title h1 {
  /* margin-bottom: 20px; */
}

.each-item-image {
  margin-top: 4rem;
  align-self: center;
  background-color: #39305341;
  border: 1px solid #c92c6d;
  width: 100%;
  height: 300px;
  padding-bottom: 10px;
}

.each-item-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.each-item-description {
  text-transform: capitalize;
  color: #443c68;
  margin-top: 30px;
  font-size: 20px;
}

.each-item-info {
  margin-top: 20px;
}

.each-item-date {
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  margin-bottom: 20px;
}

.each-item-location {
  margin-bottom: 20px;
}

.each-item-location p {
  margin-top: 10px;
}

.each-item-location span {
  font-weight: 700;
  cursor: pointer;
}

.each-item-image img {
  object-fit: cover;
  /* height: 225px; */
  transition: all 0.3s linear;
  width: 100%;
}

@media (min-width: 992px) {
  .item {
    align-items: baseline;
    /* display: flex; */
    width: 95vw;
    margin: 0 auto;
    margin-top: 4rem;
  }

  .item-big-screen {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 50px;
    justify-content: space-around;
    width: 100%;
  }

  .each-item-image {
    margin-top: 0;
    height: 500px;
    /* width: 800px; */
  }

  .each-item-image img {
    /* width: 100%; */
    height: 500px;
    object-fit: cover;
  }

  .item-page-title {
    width: 400px;
  }

  .map-wrapper {
    display: flex;
    justify-content: center;
  }
}
