.review-wrap {
  margin-top: 2rem;
}

.review-header h1 {
  color: #393053;
  font-size: 22px;
  font-weight: 900;
}

.review-header {
  text-align: center;
}

.review-main {
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  /* width: 80vw; */
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.review-img {
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #92a4a9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

article,
h4 {
  color: #c92c6d92;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.review-text {
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: #92a4a9;
  max-width: 35em;
}

.review-icon {
  margin-top: 1rem;
  color: #92a4a9;
  font-size: 3rem;
}

.review-left,
.review-right {
  top: 200px;
  color: hwb(209 38% 40%);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0px;
  position: absolute;
}

.review-left:hover,
.review-right:hover {
  background: #c92c6d92;
}

.review-left {
  left: 100px;
}
.review-right {
  right: 100px;
}

article {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}

article.activeSlide {
  transform: translateX(0);
  opacity: 1;
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

@media (min-width: 992px) {
  .review-wrap {
    background-color: #eee9dad8;
    height: 642px;
    padding-top: 20px;
  }
}
